:host {
  display: block;
}

:host ::ng-deep .mat-expansion-panel-content {
  font: inherit;
  letter-spacing: inherit;
}

.season-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.season-block h3 {
  margin: 8px 0 4px;
}

.standings-wrapper {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
}

.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
  margin: 1rem 0;
}

.rest {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.team-row {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  background: linear-gradient(to right, #eff2f5, #e2e8f0);
}

.regular-row {
  display: grid;
  grid-template-columns: 56px 1fr max-content max-content;
  align-items: center;
  gap: 8px;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  background: linear-gradient(to right, #eff2f5, #e2e8f0);
}

.regular-header {
  font-weight: bold;
  opacity: 0.75;
  background: transparent;
}

.place {
  font-size: 1.25rem;
}

.medal {
  font-size: 2rem;
}

.cup {
  font-size: 3rem;
}

.podium-item {
  min-width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0 0;
  padding: 8px;
}

.first {
  height: 130px;
  background: linear-gradient(to top, #d4af37, #f7e27d);
}

.second {
  height: 110px;
  background: linear-gradient(to top, #c0c0c0, #e0e0e0);
}

.third {
  height: 90px;
  background: linear-gradient(to top, #cd7f32, #e6a15c);
}

.owner {
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.owner.runner-up {
  padding-top: 0.65rem;
}

.owner.champ {
  font-size: larger;
  padding-top: 0.75rem;
}

.owner-awards {
  display: inline;
  font-size: smaller;
}

.regular-owner {
  text-align: left;
}

.regular-season-block {
  margin-top: 12px;
}
