.salarycap,
.team-card {
  width: auto;          // keine volle Breite
  max-width: 800px;     // optional: Limit für große Screens
  margin: 1rem auto;
}

mat-card-content,
mat-card-actions {
  padding: 0.5rem 1rem; // kompakter
}

table.mat-table {
  width: 100%;           // Tabellenbreite an Card anpassen
  border-collapse: collapse;

  th.mat-header-cell,
  td.mat-cell {
    padding: 0.3rem 0.5rem;
  }

  img {
    border-radius: 50%;
  }
}

/* Chips */
mat-chip {
  margin: 0 2px;
}

/* Expansion Panels kompakt */
mat-expansion-panel {
  margin: 0;
  padding: 0;
}
mat-expansion-panel-header {
  padding: 0 1rem;
  min-height: 48px; // kompakte Headerhöhe
}


.full-width {
  width: 100%;
}

.positive-diff {
  color: red;
  font-weight: bold;
}

.negative-diff {
  color: green;
  font-weight: bold;
}

.chip-position {
  color: white !important;
  min-width: 35px;
  text-align: center;
  border-radius: 7px;
}
