.salarycap,
.team-card {
  width: auto;          // keine volle Breite
  max-width: 800px;     // optional: Limit für große Screens
  margin: 1rem auto;
}

mat-card-content,
mat-card-actions {
  padding: 0.5rem 1rem; // kompakter
}

table.mat-table {
  width: 100%;           // Tabellenbreite an Card anpassen
  border-collapse: collapse;
  font-size: 14px !important;     // etwas kleinere Schrift

  th.mat-header-cell,
  td.mat-cell {
    padding: 0.3rem 0.5rem;
  }

  img {
    border-radius: 50%;
  }
}

/* Chips */
mat-chip {
  margin: 0 2px;
}

/* Expansion Panels kompakt */
mat-expansion-panel {
  margin: 0;
  padding: 0;
}
mat-expansion-panel-header {
  padding: 0 1rem;
  min-height: 48px; // kompakte Headerhöhe
}


.full-width {
  width: 100%;
}

.positive-diff {
  color: red;
  font-weight: bold;
}

.negative-diff {
  color: green;
  font-weight: bold;
}

.chip-position {
  color: white !important;
  min-width: 35px;
  text-align: center;
  border-radius: 7px;
}

/* Timestamp Anzeige */
.timestamp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.9rem;
  color: gray;
  margin: 0 1rem;
}

/* Trenner nach Zeile N */
.cut-line td {
  border-bottom: 3px solid #666; /* deutlicher Strich */
}

/* Spieler unterhalb der Grenze leicht ausgegraut */
.below-cut td {
  color: rgba(0,0,0,0.4);
}

.excluded-player {
  opacity: 0.5;
  text-decoration: line-through;
}



/* Mobile Anpassungen */
@media (max-width: 600px) {
  .team-card, .salarycap {
    font-size: 12px;
    margin-bottom: 8px;
  }

  table.mat-table {
    font-size: 12px;

    th.mat-header-cell,
    td.mat-cell {
      padding: 4px 6px;  /* weniger Abstand */
    }
  }

  .chip-position {
    font-size: 10px;
    padding: 1px 4px;
  }

  .timestamp {
    font-size: 10px;
  }
}