.salarycap,
.team-card {
  width: auto;          // keine volle Breite
  max-width: 1000px;     // optional: Limit für große Screens
  margin: 1rem auto;
}

.team-card-subtitle {
  font-size: normal;
  color: gray;
}

.player-accordion-title {
  font-size: normal;
}

.full-width {
  width: 100%;
}

.table-row {
  height: 42px !important; /* Standard sind 48px */
}

.table-text {
  font-size: normal;
  padding: 2px 10px !important; /* Standard sind 8px 16px */
}

.player-name {
  font-weight: bold;
  font-size: normal;
}

.player-salary {
  font-size: normal;
}

.positive-diff {
  color: red;
  font-weight: bold;
}

.negative-diff {
  color: green;
  font-weight: bold;
}

.chip-position {
  color: white !important;
  padding: 1px 4px;
  text-align: center;
  border-radius: 7px;
}

/* Timestamp Anzeige */
.timestamp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.9rem;
  color: rgb(30, 30, 30);
  margin: 0 1rem;
}

/* Trenner nach Zeile N */
.cut-line td {
  border-bottom: 3px solid #666; /* deutlicher Strich */
}

/* Spieler unterhalb der Grenze leicht ausgegraut */
.below-cut td {
  opacity: 0.5;
}

.excluded-player {
  opacity: 0.5;
  text-decoration: line-through;
}



/* Mobile Anpassungen */
@media (max-width: 600px) {

  .team-card-subtitle {
    font-size: small;
  }

  .player-accordion-title {
    font-size: small;
  }

  .table-row {
    height: 30px !important; /* Standard sind 48px */
  }

  .table-text {
    font-size: smaller;
    padding: 1px 2px !important; /* Standard sind 8px 16px */
  }

  .player-name {
    font-size: small;
  }

  .player-salary {
    font-size: small;
  }

  .chip-position {
    padding: 1px 3px;
  }

  .timestamp {
    font-size: 10px;
  }
}