:host {
  display: block;
  margin-bottom: 20px;
}

.all-time-row {
  display: grid;
  grid-template-columns: 15px 1fr 2fr 80px;
  align-items: center;
  padding: 3px;
  padding-left: 15px;
  margin: 2px;
  margin-left: 10px;
  background: linear-gradient(to right, #eff2f5, #e2e8f0);
  border-radius: 8px;
  gap: 10px;
}

.all-time-awards {
  font-size: 18px;
  letter-spacing: 2px;
}

.all-time-place {
  font-weight: bold;
}

.all-time-owner {
  font-weight: bold;
}

.all-time-avg {
  opacity: 0.7;
  font-size: 0.9em;
}
