:host {
  display: block;
  margin-bottom: 20px;
}

.all-time-row {
  display: grid;
  grid-template-columns: 15px 1fr 2fr 80px;
  align-items: center;
  padding: 3px 3px 3px 15px;
  margin: 2px 2px 2px 10px;
  border-radius: 8px;
  gap: 10px;
}

.all-time-awards {
  font-size: 18px;
  letter-spacing: 2px;
}

.all-time-place,
.all-time-owner {
  font-weight: bold;
}

.all-time-avg {
  opacity: 0.7;
  font-size: 0.9em;
}
