<section class="current-standings" *ngIf="standings as rows">
  <h2>{{ title }}</h2>

  <div class="standing-row standing-header">
    <div>Place</div>
    <div>Team</div>
    <div>Record</div>
    <div>Points</div>
  </div>

  <div *ngFor="let row of rows" class="standing-row">
    <div class="standing-place">{{ row.displayPlace }}</div>

    <app-team-identity
      class="standing-team-identity"
      [team]="row.team"
      [elements]="teamIdentityElements"
      size="small"
    ></app-team-identity>

    <div>{{ row.team.Record }}</div>
    <div>{{ row.team.Points | number:'1.0-2' }}</div>
  </div>
</section>
