<div class="current-team-owner-list">
  @for (ownerGroup of draftVm.currentOwnerPickGroups; track ownerGroup.owner.id) {
    <div class="current-team-owner-row">
      <img class="team-avatar" [src]="ownerGroup.owner.avatar" alt="" />
      <span class="current-team-name">{{ ownerGroup.owner.name }}</span>
      <div class="current-pick-chip-list">
        @for (item of ownerGroup.picks; track item.pick.PickKey) {
          <app-current-draft-pick-chip [draftVm]="draftVm" [item]="item" [usePickedPositionColor]="true" />
        }
      </div>
    </div>
  }
</div>
