<div class="current-team-owner-list">
  @for (ownerGroup of ownerPickGroups; track ownerGroup.owner.id) {
    <div class="current-team-owner-row">
      <img class="team-avatar" [src]="ownerGroup.owner.avatar" alt="" />
      <span class="current-team-name">{{ ownerGroup.owner.name }}</span>
      <div class="current-pick-chip-list">
        @for (item of ownerGroup.picks; track item.pick.PickKey) {
          <button
            class="current-pick-chip"
            [class.traded-pick]="item.isCurrentlyTraded"
            [style.background]="item.roundColor"
            type="button">
            {{ item.pick.DisplayPick }}
          </button>
        }
      </div>
    </div>
  }
</div>
