
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$orange-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ));
}

html, body {
  height: auto;
}

html, body {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.markdown .image {
    max-width: min(100%, 800px);
    height: auto;
}

