<section class="all-time-regular" *ngIf="standings as rows">
  <h2>{{ title }}</h2>

  <div class="regular-row regular-header">
    <div>#</div>
    <div>Owner</div>
    <div>Record</div>
    <div>Win %</div>
    <div>Points</div>
  </div>

  <div *ngFor="let row of rows" class="regular-row">
    <div class="regular-place">{{ row.place }}</div>
    <div class="regular-owner">{{ row.owner }}</div>
    <div>{{ row.record }}</div>
    <div>{{ row.winPercentageDisplay }}</div>
    <div>{{ row.points | number:'1.0-2' }}</div>
  </div>
</section>
